*~
.#*
*.pyc
*.so
parameters/*.txt
eval/*
bgjob*
utils/bgjob
build
database/*.csv
\#*\#
*.dat
*.pdf
*.aux
*.log
*.tgz
*.gz
*.txt
*.csv
*.npz
*.png
*.gif
*.txt2
*.out
*.heatmap
*.DS_Store
/*evids
/eval*
/wiggle_data*
/training_messages*
/TAGS
/earthmodel.c
/logs/codas_2_1338747082/all_data
/res1
/signals/orphaned_code.py
/signals/scratch
/start_time,
/testfn
/testfn.c
/tests.c
/valgrind-python.supp
/vg
*all_data
*all_data.bak
*.data
*.data_backup
*.heat
/data
/docs/design.idx
/docs/design.lof
/docs/design.lot
/docs/design.toc
/pn_evids
/python_old
/logs/duplicates
/test_orids
/gen_templates.sh
/test_orids3
*.wave
database/setup_db_custom.sql
*prof
*npy
*mtx
evid*
*ps
test.armodel
test_constant_model
test_gp_model
test_linear_model
*_list
*.pkl
*.gp
demos/*/*.html
*.dot
*.sg
*cmds
*cmd
*_cmd*
experiments/synth_wavematch
experiments/event_localization
tests/mcmc/event_localization
tests/mcmc/one_station_templates
Untitled*ipynb
db_cache
demos/template_mcmc_dtra_080213/
/logs
/scratch
/experiments/logodds
/experiments/template_mcmc
/gp_tts
/notebooks/.ipynb_checkpoints/