*~
.#*
*.pyc
*.so
parameters/*.txt
eval/*
bgjob*
utils/bgjob
build
database/*.csv
\#*\#
*.dat
*.pdf
*.aux
*.log
*.tgz
*.gz
*.txt
*.csv
*.npz
*.png
*.txt2
*.out
*.heatmap
*.DS_Store
/*evids
/eval*
/wiggles*
/TAGS
/earthmodel.c
/logs/codas_2_1338747082/all_data
/res1
/signals/orphaned_code.py
/signals/scratch
/start_time,
/testfn
/testfn.c
/tests.c
/valgrind-python.supp
/vg
*all_data
*all_data.bak
*.data
*.data_backup
*.heat
/data
/docs/design.idx
/docs/design.lof
/docs/design.lot
/docs/design.toc
/pn_evids
/python_old
/logs/duplicates
/test_orids
/gen_templates.sh
/test_orids3
/parameters/