numpy
scipy
scikit-learn
matplotlib
-e git+http://github.com/matplotlib/basemap.git#egg=basemap 
obspy
django
#cx_Oracle
MySQL-python
python-dateutil
functools32
django-pagination
django-easyfilters
django-extensions
django-debug-toolbar
pytz
nose

# not strictly necessary, but useful:

# ipython notebook
pyzmq
tornado
ipython

# interactive debugger, "python manage.py runserver_plus" to enable
werkzeug
