{% load math_filters %}
<html>
<head>

{% if page_obj.has_next %}
<link rel='prev'  href="{% url fit_run_detail runid=filter_args.runid sta=filter_args.sta chan=filter_args.chan band=filter_args.band fit_quality=filter_args.fit_quality pageid=page_obj.previous_page_number %}" />
{% endif %}
{% if page_obj.has_next %}
<link rel='next'  href="{% url fit_run_detail runid=filter_args.runid sta=filter_args.sta chan=filter_args.chan band=filter_args.band fit_quality=filter_args.fit_quality pageid=page_obj.next_page_number %}" />
<link rel='prerender'  href="{% url fit_run_detail runid=filter_args.runid sta=filter_args.sta chan=filter_args.chan band=filter_args.band fit_quality=filter_args.fit_quality pageid=page_obj.next_page_number %}" />
<link rel='prefetch'  href="{% url fit_run_detail runid=filter_args.runid sta=filter_args.sta chan=filter_args.chan band=filter_args.band fit_quality=filter_args.fit_quality pageid=page_obj.next_page_number %}" />
<link rel='prerender'  href="{% url fit_run_detail runid=filter_args.runid sta=filter_args.sta chan=filter_args.chan band=filter_args.band fit_quality=filter_args.fit_quality pageid=page_obj.next_page_number|add:1 %}" />
<link rel='prerender'  href="{% url fit_run_detail runid=filter_args.runid sta=filter_args.sta chan=filter_args.chan band=filter_args.band fit_quality=filter_args.fit_quality pageid=page_obj.next_page_number|add:2 %}" />
{% endif %}


<script>
function hideLoading() {
document.getElementById('loading').style.visibility = 'hidden';
}
</script>
<title>{{ fit.evid }} at {{ fit.sta }} -- sigvisa fit</title>
</head>
<body>

<h1>{{ fit.sta }}: {{ fit.evid }} ({{ fit.chan }}, {{fit.band }})</h1>
<table>
<tr>
  <td><img id="fit" src="" width=500 height=300 onload="hideLoading()"><br \>
  </td>
  <td valign=top rowspan=1>
    <b>Event</b>
    <table>
      <tr><td>evid</td><td>{{ ev.evid|stringformat:'d' }}</td></tr>
      <tr><td>orid</td><td>{{ ev.orid|stringformat:'d' }}</td></tr>
      <tr><td>loc</td><td>{{ loc_str }}</td></tr>
      <tr><td>depth</td><td>{{ ev.depth|stringformat:'.1f' }}km</td></tr>
      <tr><td>time</td><td>{{ ev_time_str }}</td></tr>
      <tr><td>unix time</td><td>{{ ev.time }}</td></tr>
      <tr><td>mb</td><td>{{ ev.mb|stringformat:'.2f' }}</td></tr>
      <tr><td>source</td><td>{% if ev.natural_source %}natural{% else %}nuclear{% endif %}</td></tr>
      <tr><td>dist</td><td>{{ fit.dist }}km</td></tr>
      <tr><td>azi</td><td>{{ fit.azi }}</td></tr>
    </table>
  </td>
  <td valign=top rowspan=1>
    <b>Waveform</b>
    <table>
      <tr><td>sta</td><td>{{ wave.sta }}</td></tr>
      <tr><td>npts</td><td>{{ wave.npts }}</td></tr>
      <tr><td>srate</td><td>{{ wave.srate }}Hz</td></tr>
      <tr><td>len</td><td>{{ wave.len }}s</td></tr>
      <tr><td>filter_str</td><td>{{ wave.filter_str }}</td></tr>
      <tr><td>fraction_valid</td><td>{{ wave.fraction_valid|stringformat:'.3f' }}</td></tr>
      <tr><td>start time</td><td>{{ wave_stime_str }}</td></tr>
      <tr><td>end time</td><td>{{ wave_etime_str }}</td></tr>
      <tr><td>unix stime</td><td>{{ wave.stime|stringformat:'.1f' }}</td></tr>
      <tr><td>unix etime</td><td>{{ wave.etime|stringformat:'.1f' }}</td></tr>

    </table>
  </td>
  <td valign=top rowspan=1>
    <b>Fit</b>
    <table>
      <tr><td>optim_method</td><td>{{ fit.optim_method }}</td></tr>
      <tr><td>iid</td><td>{{ fit.iid }}</td></tr>
      <tr><td>acost</td><td>{{ fit.acost }}</td></tr>
    </table><br/>
    <b>Noise</b>
    <table>
      <tr><td>mean</td><td>{{noise_model.c }}</td></tr>
      <tr><td>log(mean)</td><td>{{noise_model.c|log }}</td></tr>
      <tr><td>std</td><td>{{noise_model.em.std }}</td></tr>
      <tr><td>order</td><td>{{noise_model.p }}</td></tr>
      {% for coeff in noise_model.params|slice:":3" %}
      <tr><td>coeff {{ forloop.counter }}</td><td>{{ coeff }}</td></tr>
      {% endfor %}
    </table>
  </td>
</tr>
<tr>
  <td valign='top'>
    <center>
      <table>
	<tr>
	  <td valign='top'><center>
	      <span id="slider">0
		<input id="slide" type="range" min="0" max="20" step="1" value="{{ fit_view_options.smoothing }}"
		       onchange="updateSliderDisplay()" onMouseUp="updateFitImage()" />
		20</span><br/>
	      smoothing: <span id="chosen"></div>
	    </center>
	  </td>
	  <td valign='top'>
	    <input id="fitlog" type="checkbox" onchange="updateFitImage()" {% if fit_view_options.logscale %}checked{% endif %}>
	    <label for="fitlog">logscale</label>
	  </td>
	  <td valign='top'>
	    <input id="fitsample" type="checkbox" onchange="updateFitImage()" {% if fit_view_options.sample %}checked{% endif %}>
	    <label for="fitsample">sample</label>
	  </td>
	  <td valign='top'>
	    <div id="loading" style="color: red">loading...</div>
	  </td>
        </tr>
      </table>
    </center>
  </td>
  <td colspan=3 rowspan=2 valign='top'>
    <table border=1 width=100%>
      <tr>
	<td><strong>Phase</strong></td>
	<td><strong>atime</strong></td>
	<td><strong>onset_seconds</strong></td>
	<td><strong>coda_height</strong></td>
	<td><strong>decay_rate</strong></td>
      </tr>
      {% for phase in fit.sigvisacodafitphase_set.all %}
      <tr>
	<td>{{ phase.phase }}</td>
	<td>{{ phase.param1 }}</td>
	<td>{{ phase.param2 }}</td>
	<td>{{ phase.param3 }}</td>
	<td>{{ phase.param4 }}</td>
      </tr>
      {% endfor %}
    </table>
  </td>
</tr>
<tr>
  <td colspan=1 align="center">
    <form action="{% url rate_fit runid=filter_args.runid sta=filter_args.sta chan=filter_args.chan band=filter_args.band fit_quality=filter_args.fit_quality pageid=page_obj.number %}" method="post" id='approval_form'>
      {% csrf_token %}

      <input type="radio" name="approval" id="unknown" value="0" {% if fit.human_approved == '0' or fit.human_approved == 0 or fit.human_approved == None %}checked{% endif %}/>
      <label for="unknown">Unknown</label>
      <input type="radio" name="approval" id="bad" value="1" {% if fit.human_approved == '1' or fit.human_approved == 1 %}checked{% endif %}/>
      <label for="bad">Bad fit</label>
      <input type="radio" name="approval" id="good" value="2" {% if fit.human_approved == '2' or fit.human_approved = 2%}checked{% endif %}/>
      <label for="good">Good fit</label>
      <input type="submit" value="Submit" />
    </form>

  </td>
</tr>
</table>
<br/>
<center>
{% if page_obj.has_previous %}
<a href="{% url fit_run_detail runid=filter_args.runid sta=filter_args.sta chan=filter_args.chan band=filter_args.band fit_quality=filter_args.fit_quality pageid=page_obj.previous_page_number %}">previous</a>
{% endif %}
<span class="page-current">
  Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
</span>
{% if page_obj.has_next %}
<a href="{% url fit_run_detail runid=filter_args.runid sta=filter_args.sta chan=filter_args.chan band=filter_args.band fit_quality=filter_args.fit_quality pageid=page_obj.next_page_number %}">next</a>
{% endif %}
</center>
<img id="nextfit" src="" style="display: none">



<script>
document.onkeydown = KeyCheck;
window.onload = updateSlider()

function KeyCheck(e)
{
var KeyID = (window.event) ? event.keyCode : e.keyCode;

var rbuttons = document.getElementsByName('approval');

switch(KeyID)
{

{% if page_obj.has_previous %}
case 37:
window.location = "{% url fit_run_detail runid=filter_args.runid sta=filter_args.sta chan=filter_args.chan band=filter_args.band fit_quality=filter_args.fit_quality pageid=page_obj.previous_page_number %}";
break;
{% endif %}

{% if page_obj.has_next %}
case 39:
window.location = "{% url fit_run_detail runid=filter_args.runid sta=filter_args.sta chan=filter_args.chan band=filter_args.band fit_quality=filter_args.fit_quality pageid=page_obj.next_page_number %}";
break;
{% endif %}

case 49:
rbuttons[0].checked = true;
document.forms["approval_form"].submit();
break;
case 50:
rbuttons[1].checked = true;
document.forms["approval_form"].submit();
break;
case 51:
rbuttons[2].checked = true;
document.forms["approval_form"].submit();
break;


default:
break;
}
}


function updateSliderDisplay() {

var slide = document.getElementById("slide");
slideAmount = slide.value;

var display = document.getElementById("chosen");
display.innerHTML=slide.value;

}

function updateFitImage() {
var slide = document.getElementById("slide");
slideAmount = slide.value;

fitlog = document.getElementById("fitlog").checked;
fitsample = document.getElementById("fitsample").checked;

var fit_img = document.getElementById("fit");
new_src = "{% url visual fitid=fit.fitid  %}" + "?smooth=" + slideAmount + ";logscale=" + fitlog + ";sample=" + fitsample + ";saveprefs=true";

// only show the loading message if the image has actually changed
if ('/' + fit_img.src.split("/").slice(3).join("/") != new_src) {
showLoading();
}
fit_img.src = new_src

}

function updateSlider() {
updateSliderDisplay();
updateFitImage();

}

function showLoading() {
document.getElementById('loading').style.visibility = 'visible';
}
</script>
</body>
</html>
