<html>
<head>
<title>{{ run.run_name }} - fits - sigvisa</title>
</head>
<body>
<h1>{{ run.run_name }}: iter {{ run.iter }}</h1>
<p><a href="{% url all_runs %}">back to run list</a></p>

<table>
 <tr>
  <td rowspan=3>
   <p>Showing fits filtered by: station={{ filter_args.sta }}, chan={{ filter_args.chan}}, band={{filter_args.band }}, fit_quality={{filter_args.fit_quality}}.</p>
   <p>{{ queryset.count }} fits, average cost {{ mean_acost }}, average time {{ mean_time }}.</p>
  </td>
  <td><b>onset_seconds</b></td>
  <td>
   <a href="{% url param_histogram runid=filter_args.runid sta=filter_args.sta chan=filter_args.chan band=filter_args.band fit_quality=filter_args.fit_quality %}?plot_param=peak_offset;phases=P">histogram</a>
  </td>
  <td>
   <a href="{% url distance_decay runid=filter_args.runid sta=filter_args.sta chan=filter_args.chan band=filter_args.band fit_quality=filter_args.fit_quality %}?plot_param=peak_offset;ymin=-5;ymax=30;phases=P">distance plot</a>
  </td>
 </tr> 
 <tr>
  <td><b>coda_height</b></td>
  <td>
   <a href="{% url param_histogram runid=filter_args.runid sta=filter_args.sta chan=filter_args.chan band=filter_args.band fit_quality=filter_args.fit_quality %}?plot_param=coda_height;phases=P">histogram</a>
  </td>
  <td>
   <a href="{% url distance_decay runid=filter_args.runid sta=filter_args.sta chan=filter_args.chan band=filter_args.band fit_quality=filter_args.fit_quality %}?plot_param=coda_height;ymin=-7;ymax=10;phases=P">distance plot</a>
  </td>
 </tr> 
 <tr>
  <td><b>coda_decay</b></td>
  <td>
   <a href="{% url param_histogram runid=filter_args.runid sta=filter_args.sta chan=filter_args.chan band=filter_args.band fit_quality=filter_args.fit_quality %}?plot_param=coda_decay;phases=P">histogram</a>
  </td>
  <td>
   <a href="{% url distance_decay runid=filter_args.runid sta=filter_args.sta chan=filter_args.chan band=filter_args.band fit_quality=filter_args.fit_quality %}?plot_param=coda_decay;phases=P">distance plot</a>
  </td>
 </tr> 
</table>
<p>
{% if fit_list %}



    <table id="fits" border=1 cellpadding=3>
      <tr>
	<td><strong>evid</strong></td>
	<td><strong>sta</strong></td>
	<td><strong>chan</strong></td>
	<td><strong>band</strong></td>
	<td><strong>start time</strong></td>
	<td><strong>fit timestamp</strong></td>
	<td><strong>running time</strong></td>
	<td><strong>acost</strong></td>
      </tr>
        {% for fit in fit_list %}
            <tr>
                <td>{{ fit.evid }}</td>
                <td>{{ fit.sta }}</td>
                <td>{{ fit.chan }}</td>
                <td>{{ fit.band }}</td>
                <td>{{ fit.stime }}</td>
                <td>{{ fit.timestamp }}</td>
                <td>{{ fit.elapsed }}</td>
                <td>{{ fit.acost }}</td>
                <td><a href="{% url fit_run_detail runid=filter_args.runid sta=filter_args.sta chan=filter_args.chan band=filter_args.band fit_quality=filter_args.fit_quality pageid=forloop.counter|add:page_obj.start_index|add:-1  %}" class="see_detail">detail</a></td>
            </tr>
        {% endfor %}
    </table>
    {# .... **Now the pagination section** .... #}
    {% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
    {% endif %}
{% else %}
    <h3>My Fits</h3>
    <p>No fits found!!! :(</p>
{% endif %}
</body>
</html>
