{# .... **Normal content list, maybe a table** .... #}
{% if fit_list %}
    <table id="fits">
        {% for fit in fit_list %}
            <tr>
                <td>{{ fit.evid }}</td>
                <td>{{ fit.sta }}</td>
                <td><a href="fits/{{ fit.fitid }}/" class="see_detail">detail</a></td>
            </tr>
        {% endfor %}
    </table>
    {# .... **Now the pagination section** .... #}
    {% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="fits?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="fits?page={{ page_obj.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
    {% endif %}
{% else %}
    <h3>My Fits</h3>
    <p>No fits found!!! :(</p>
{% endif %}
{# .... **More content, footer, etc.** .... #}
