{# .... **Normal content list, maybe a table** .... #}
{% if fit_list %}
    <table id="fits" border=1 cellpadding=3>
      <tr>
	<td><strong>evid</strong></td>
	<td><strong>sta</strong></td>
	<td><strong>chan</strong></td>
	<td><strong>band</strong></td>
	<td><strong>start time</strong></td>
      </tr>
        {% for fit in fit_list %}
            <tr>
                <td>{{ fit.evid }}</td>
                <td>{{ fit.sta }}</td>
                <td>{{ fit.chan }}</td>
                <td>{{ fit.band }}</td>
                <td>{{ fit.stime }}</td>
                <td><a href="{% url fit_run_detail runid=filter_args.runid sta=filter_args.sta chan=filter_args.chan band=filter_args.band fit_quality=filter_args.fit_quality pageid=forloop.counter|add:page_obj.start_index|add:-1  %}" class="see_detail">detail</a></td>
            </tr>
        {% endfor %}
    </table>
    {# .... **Now the pagination section** .... #}
    {% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
    {% endif %}
{% else %}
    <h3>My Fits</h3>
    <p>No fits found!!! :(</p>
{% endif %}
{# .... **More content, footer, etc.** .... #}
