<html>
<head>
<title>wave {{ wave.waveid }} -- sigvisa</title>
</head>
<body>

  <img src="{% url gs_heatmap gsid=wave.gsid.gsid %}?colorbar=true;smooth=true;lon={{lon}};lat={{lat}};depth={{ depth }};exp=true" width=600 height=600>


     <table>

       <tr>
	 <td><strong>sta</strong></td>
	 <td><strong>band</strong></td>
	 <td><strong>chan</strong></td>
	 <td><strong>hz</strong></td>
	 <td><strong>models</strong></td>
       </tr>


       <tr>
	 <td valign=top>{{ wave.sta }}</td>
	 <td valign=top>{{ wave.band }}</td>
	 <td valign=top>{{ wave.chan }}</td>
	 <td valign=top>{{ wave.hz }}</td>
	 <td valign=top>

	   <table>
	     <tr>
	       <td><strong>param</strong></td>
	       <td><strong>phase</strong></td>
	       <td><strong>type</strong></td>
	       <td><strong>visualizations</strong></td>
	     </tr>
	     {% for model in wave.sigvisagsruntmodel_set.all %}
	     <tr>
	       <td valign=top>{{ model.modelid.param }}</td>
	       <td  valign=top>{{ model.modelid.phase }}</td>
	       <td valign=top>{{ model.modelid.model_type }}</td>
	       <td valign=top>
		 {% if model.modelid.model_type|slice:":8" == "constant" %}
		 <a href="{% url model_density modelid=model.modelid.modelid %}">density</a>
		 {% endif %}
		 {% if model.modelid.model_type|slice:":6" = "linear" %}
		 <a href="{% url model_distance_plot modelid=model.modelid.modelid %}">distance plot</a>
		 {% endif %}
		 {% if model.modelid.model_type|slice:":2" == "gp" %}
		 <a href="{% url model_distance_plot modelid=model.modelid.modelid %}">distance plot</a>
		 <a href="{% url model_heatmap modelid=model.modelid.modelid %}">heatmap</a>
		 {% endif %}
	       </td>
	     </tr>
	     {% endfor %}
	   </table>

	 </td>
       </tr>
     </table>


<form action="{% url gs_debug gswid=wave.gswid %}" method="get">
<input type="text" name="lon" value="{{lon}}">
<input type="text" name="lat" value="{{lat}}">
<input type="text" name="depth" value="{{ depth }}">
<input type="submit" value="Submit">
</form>
<table>
<tr><td>time</td><td>error</td><td>wavell</td><td>paramll</td><td>ll</td><td>params</td><td>template</td></tr>
{% for proposal in proposals %}

<tr><td valign=top>{{ proposal.0 }}</td><td valign=top>{{ proposal.1 }}</td><td valign=top>{{proposal.3.0}}</td><td valign=top>{{proposal.3.1}}</td><td valign=top>{{proposal.3.2}}</td><td valign=top><table>{% for row in proposal.2 %}<tr><td valign=top>{{row.0}}</td>{% for param in row.1 %}<td valign=top>{{param}}</td> {% endfor %}</tr> {% endfor %}</table></td><td valign=top><img src="{% url gs_debug_wave gswid=wave.gswid %}?lon={{lon}};lat={{lat}};depth={{ depth }};mb={{ev_true.mb}};time={{proposal.0}}"></td></tr>
{% endfor %}
</table>
</body>
</html>
