{% load math_filters %}
<html>
<head>

{% if prev %}
<link rel='prev'  href="{% url fit_run_detail fitid=prev.fitid %}?{{filter_GET_params}}" />
{% endif %}
{% if next %}
<link rel='next'  href="{% url fit_run_detail fitid=next.fitid %}?{{filter_GET_params}}" />
<link rel='prerender'  href="{% url fit_run_detail fitid=next.fitid %}?{{filter_GET_params}}" />
<link rel='prefetch'  href="{% url fit_run_detail fitid=next.fitid %}?{{filter_GET_params}}" />
{% endif %}


<script>
function hideLoading() {
document.getElementById('loading').style.visibility = 'hidden';
}
</script>
<title>{{ fit.evid }} at {{ fit.sta }} -- sigvisa fit</title>

<link href="{{ STATIC_URL }}header.css" rel="stylesheet" type="text/css">
</head>
<body>
{% include "svweb/header.html"  %}

<h1>{{fit.runid.run_name}}/{{fit.runid.iter}}: evid {{ fit.evid }} at {{ fit.sta }}</h1>
<table>
<tr>
  <td><img id="fit" src="" width=500 height=300 onload="hideLoading()"><br \>
  </td>
  <td valign=top rowspan=1>
    <b>Event</b>
    <table>
      <tr><td>evid</td><td><a href="{% url event evid=ev.evid|stringformat:'d' %}">{{ ev.evid|stringformat:'d' }}</a></td></tr>
      <tr><td>orid</td><td>{{ ev.orid|stringformat:'d' }}</td></tr>
      <tr><td>loc</td><td>{{ loc_str }}</td></tr>
      <tr><td>depth</td><td>{{ ev.depth|stringformat:'.1f' }}km</td></tr>
      <tr><td>mb</td><td>{{ ev.mb|stringformat:'.2f' }}</td></tr>
      <tr><td>source</td><td>{% if ev.natural_source %}natural{% else %}nuclear{% endif %}</td></tr>
      <tr><td>dist</td><td>{{ fit.dist }}km</td></tr>
      <tr><td>azi</td><td>{{ fit.azi }}</td></tr>
      <tr><td>time</td><td>{{ ev_time_str }}</td></tr>
      <tr><td>unix time</td><td>{{ ev.time }}</td></tr>
    </table>
  </td>
  <td valign=top rowspan=1>
    <b>Waveform</b>
    <table>
      <tr><td>sta</td><td><a href="{% url site sta=wave.sta %}">{{ wave.sta }}</a></td></tr>
      <tr><td>npts</td><td>{{ wave.npts }}</td></tr>
      <tr><td>srate</td><td>{{ wave.srate }}Hz</td></tr>
      <tr><td>len</td><td>{{ wave.len }}s</td></tr>
      <tr><td>filter_str</td><td>{{ wave.filter_str }}</td></tr>
      <tr><td>fraction_valid</td><td>{{ wave.fraction_valid|stringformat:'.3f' }}</td></tr>
      <tr><td>start time</td><td>{{ wave_stime_str }}</td></tr>
      <tr><td>end time</td><td>{{ wave_etime_str }}</td></tr>
      <tr><td>unix stime</td><td>{{ wave.stime|stringformat:'.1f' }}</td></tr>
      <tr><td>unix etime</td><td>{{ wave.etime|stringformat:'.1f' }}</td></tr>
    </table>
  </td>
  <td valign=top rowspan=1>
    <b>Fit</b> (<a href="{% url template_debug fitid=fit.fitid %}">debug fit</a>)
    <table>
      <tr><td>fitid</td><td>{{ fit.fitid }}</td></tr>
      <tr><td>time</td><td>{{ fit_time_str }}</td></tr>
      <tr><td>elapsed</td><td>{{ fit.elapsed }}s</td></tr>
      <tr><td>iid</td><td>{{ fit.iid }}</td></tr>
      <tr><td>sampling</td><td>{{ fit.hz }}hz</td></tr>
      <tr><td>acost</td><td>{{ fit.acost }}</td></tr>
      <tr><td>optim_method</td><td>{{ fit.optim_method }}</td></tr>
    </table><br/>
  </td>
  <td valign=top rowspan=1>
    <b>Noise</b> (<a href="{% url nm_detail nmid=fit.nmid.nmid %}">detail</a>)
    <table>
      <tr><td>type</td><td>{{fit.nmid.model_type }}</td></tr>
      <tr><td>mean</td><td>{{fit.nmid.mean }}</td></tr>
      <tr><td>log(mean)</td><td>{{fit.nmid.mean|log }}</td></tr>
      <tr><td>std</td><td>{{fit.nmid.std }}</td></tr>
      <tr><td>order</td><td>{{fit.nmid.nparams }}</td></tr>
      {% if fit.nmid.model_type == "ar" %}<tr><td>params</td><td><a href="{% url nm_detail nmid=fit.nmid.nmid %}"><img src="{% url nm_param_plot nmid=fit.nmid.nmid %}" width=100 height=60></a></td></tr>{% endif %}
      <tr><td>sample</td><td><a href="{% url nm_detail nmid=fit.nmid.nmid %}"><img src="{% url nm_sample nmid=fit.nmid.nmid %}" width=100 height=60></a></td></tr>
    </table>
    </td>
</tr>
<tr>
  <td valign='top'>
    <center>
      <table>
	<tr>
	  <td valign='top'><center>
	      <span id="slider">0
		<input id="slide" type="range" min="0" max="20" step="1" value="{{ fit_view_options.smoothing }}"
		       onchange="updateSliderDisplay()" onMouseUp="updateFitImage()" />
		20</span><br/>
	      smoothing: <span id="chosen"></span>
	    </center>
	  </td>
	  <td valign='top'>
	    <input id="fitlog" type="checkbox" onchange="updateFitImage()" {% if fit_view_options.logscale %}checked{% endif %}>
	    <label for="fitlog">logscale</label>
	  </td>
	  <td valign='top'>
	    <input id="fitsample" type="checkbox" onchange="updateFitImage()" {% if fit_view_options.sample %}checked{% endif %}>
	    <label for="fitsample">sample</label>
	  </td>
	  <td valign='top'>
	    <div id="loading" style="color: red">loading...</div>
	  </td>
        </tr>
      </table>
    </center>
  </td>
  <td colspan=4 rowspan=2 valign='top'>
    <table border=1 width=100%>
      <tr>
	<td><strong>Phase</strong></td>
	<td><strong>atime</strong></td>
	<td><strong>onset_seconds</strong></td>
	<td><strong>coda_height</strong></td>
	<td><strong>decay_rate</strong></td>
	<td><strong>amp_transfer</strong></td>
	<td><strong>trained wiggles</strong></td>
      </tr>
      {% for phase in fit.sigvisacodafitphase_set.all %}
      <tr>
	<td>{{ phase.phase }}</td>
	<td>{{ phase.param1 }}</td>
	<td>{{ phase.param2 }}</td>
	<td>{{ phase.param3 }}</td>
	<td>{{ phase.param4 }}</td>
	<td>{{ phase.amp_transfer }}</td>
	<td>
	{% if phase.wiggle_fname and phase.wiggle_fname != 'NONE' %}
	<a href="{% url fit_phase_wiggles fpid=phase.fpid%}">{{ phase.sigvisawiggle_set.count }} parameterization{{ phase.sigvisawiggle_set.count|pluralize }}</a>
	  {% endif %}
	{% if phase.wiggle_fname == 'NONE' %}
	could not extract wiggle.
	  {% endif %}
	</td>
      </tr>
      {% endfor %}
    </table>
  </td>
</tr>
<tr>
  <td colspan=1 align="center">


    <form action="{% url rate_fit fitid=fit.fitid %}?next_fitid={{next.fitid}};{{filter_GET_params}}" method="post" id='approval_form'>
      {% csrf_token %}
      <input type="radio" name="approval" id="unknown" value="0" {% if fit.human_approved == '0' or fit.human_approved == 0 or fit.human_approved == None %}checked{% endif %}/>
      <label for="unknown">Unknown</label>
      <input type="radio" name="approval" id="bad" value="1" {% if fit.human_approved == '1' or fit.human_approved == 1 %}checked{% endif %}/>
      <label for="bad">Bad fit</label>
      <input type="radio" name="approval" id="good" value="2" {% if fit.human_approved == '2' or fit.human_approved = 2%}checked{% endif %}/>
      <label for="good">Good fit</label>
      <input type="submit" value="Submit" />
    </form>
<p><a href="{% url delete_fit  fitid=fit.fitid %}">delete fit</a></p>
  </td>
</tr>
</table>
<center>
<p>{% if prev %}
<a href="{% url fit_run_detail fitid=prev.fitid %}?{{filter_GET_params}}">previous</a>
{% endif %}
{% if next %}
<a href="{% url fit_run_detail fitid=next.fitid %}?{{filter_GET_params}}">next</a>
{% endif %}</p>
</center>
<hr/>
<div><strong>Filters: </strong>

(<a href="{% url fit_list runid=fit.runid.runid %}?{{filter_GET_params}}">back to list</a>)

  <br/>{{ fits_filter }}</div>



<script>
document.onkeydown = KeyCheck;
window.onload = updateSlider()

function KeyCheck(e)
{
var KeyID = (window.event) ? event.keyCode : e.keyCode;

var rbuttons = document.getElementsByName('approval');

switch(KeyID)
{

{% if prev %}
case 37:
window.location = "{% url fit_run_detail fitid=prev.fitid %}?{{filter_GET_params}}";
break;
{% endif %}

{% if next %}
case 39:
window.location = "{% url fit_run_detail fitid=next.fitid %}?{{filter_GET_params}}";
break;
{% endif %}

case 49:
rbuttons[0].checked = true;
document.forms["approval_form"].submit();
break;
case 50:
rbuttons[1].checked = true;
document.forms["approval_form"].submit();
break;
case 51:
rbuttons[2].checked = true;
document.forms["approval_form"].submit();
break;


default:
break;
}
}


function updateSliderDisplay() {

var slide = document.getElementById("slide");
slideAmount = slide.value;

var display = document.getElementById("chosen");
display.innerHTML=slide.value;

}

function updateFitImage() {
var slide = document.getElementById("slide");
slideAmount = slide.value;

fitlog = document.getElementById("fitlog").checked;
fitsample = document.getElementById("fitsample").checked;

var fit_img = document.getElementById("fit");
new_src = "{% url visual fitid=fit.fitid  %}" + "?smooth=" + slideAmount + ";logscale=" + fitlog + ";sample=" + fitsample + ";saveprefs=true";

// only show the loading message if the image has actually changed
if ('/' + fit_img.src.split("/").slice(3).join("/") != new_src) {
showLoading();
}
fit_img.src = new_src

}

function updateSlider() {
updateSliderDisplay();
updateFitImage();

}

function showLoading() {
document.getElementById('loading').style.visibility = 'visible';
}
</script>
{% include "svweb/footer.html"  %}
</body>
</html>
