{% load url from future %}
<html>
<head>

<title>event viewer -- sigvisa</title>
<link href="{{ STATIC_URL }}header.css" rel="stylesheet" type="text/css">
</head>
<body>
{% include "svweb/header.html"  %}

<table>
<tr>
<td>
Showing {{ n_evs }} events.<br>
<form action="{% url 'event_region' %}" method="GET">
<strong>Longitude:</strong> <input type="text" name="left_lon" size="5" value={{ left_lon }}> to <input type="text" name="right_lon" size="5" value={{right_lon}}>.<br>
<strong>Latitude:</strong> <input type="text" name="bottom_lat" size="5" value={{ bottom_lat }}> to <input type="text" name="top_lat" size="5" value={{top_lat}}>.<br>
<strong>Depth:</strong> <input type="text" name="min_depth" size="5" value={{ min_depth }}> to <input type="text" name="max_depth" size="5" value={{max_depth}}>.<br>
<strong>Time:</strong> <input type="text" name="start_time" size="14" value={{ start_time }}> to <input type="text" name="end_time" size="14" value={{end_time}}>.<br>
<strong>mb:</strong> <input type="text" name="min_mb" size="5" value={{ min_mb }}> to <input type="text" name="max_mb" size="5" value={{max_mb}}>.<br>
<strong>station:</strong> <input type="text" name="detected_at_station" size="5" value={{detected_at_station}}><br>
<input type="submit" name="submit" value="Update">
</form>
</td>
<td>
<img src="{% url 'event_region_image' %}?left_lon={{ left_lon }};right_lon={{ right_lon }};bottom_lat={{bottom_lat}};top_lat={{ top_lat }};start_time={{ start_time }};end_time={{ end_time }};min_mb={{min_mb}};max_mb={{max_mb}};min_depth={{min_depth}};max_depth={{max_depth}};detected_at_station={{detected_at_station}}" width=700>
</tr>
</table>

<table>
<tr><td><strong>evid</strong></td><td><strong>lon</strong></td><td><strong>lat</strong></td><td><strong>depth</strong></td><td><strong>time</strong></td><td><strong>mb</strong></td></tr>
{% for ev in evs %}

<tr><td><a href="{% url 'event' evid=ev.5 %}">{{ ev.5 }}</a></td><td>{{ev.0}}</td><td>{{ev.1}}</td><td>{{ev.2}}</td><td>{{ev.3}}</td><td>{{ev.4}}</td></tr>

{% endfor %}

</table>
{% include "svweb/footer.html"  %}
</body>
</html>
