{% load dict_filter %}

<html>
<head>
<title>gsrun {{ gs.gsid }} -- sigvisa</title>

<link href="{{ STATIC_URL }}header.css" rel="stylesheet" type="text/css">
</head>
<body>
{% include "svweb/header.html"  %}

<table>
 <tr>
  <td rowspan=2>
   <img src="{% url gs_heatmap gsid=gs.gsid %}?colorbar=true;smooth=true" width=600 height=600>
  </td>
   <td valign=top>
     <table>
       <tr>
	 <tr><td><strong>gsid: </strong></td><td>{{ gs.gsid }}</td></tr>
	 <tr><td><strong>evid: </strong></td><td><a href="{% url event evid=gs.evid %}">{{ gs.evid }}</a></td></tr>
	 <tr><tr><td><strong>timestamp: </strong></td><td>{{ gs.timestamp }}</td></tr>
	 <tr><td><strong>elapsed: </strong></td><td>{{ gs.elapsed }}</td></tr>
	 <tr><tr><td><strong>nw: </strong></td><td>{{ nw_str }}</td></tr>
	 <tr><td><strong>se: </strong></td><td>{{ se_str }}</td></tr>
	 <tr><td><strong>n: </strong></td><td>{{ gs.pts_per_side }}</td></tr>
	 <tr><td><strong>method: </strong></td><td>{{ gs.likelihood_method }}</td></tr>
	 <tr><td><strong>max_evtime_proposals: </strong></td><td>{{ gs.max_evtime_proposals }}</td></tr>
	 <tr><td><strong>phases: </strong></td><td>{{ gs.phases }}</td></tr>
	 <tr><td><strong>wiggle_model_type: </strong></td><td>{{ gs.wiggle_model_type }}</td></tr>
       </tr>
     </table>
   </td>
 </tr>
<tr>
 <td valign=center><strong>True event</strong>: {{ true_ev_str }}<br>
<strong>MAP event</strong>: {{ max_ev_str }}<br>
<strong>distance</strong>: {{ dist }}km
</td>
</tr>

<tr>
<td colspan=2 valign=top>

     <table border=1>

       <tr>
	 <td><strong>sta</strong></td>
	 <td><strong>band</strong></td>
	 <td><strong>chan</strong></td>
	 <td><strong>hz</strong></td>
	 <td><strong>wave</strong></td>
<!--	 <td><strong>mode</strong></td> -->
	 <td><strong>models</strong></td>
	 <td><strong>debug</strong> {% if wave_likelihood_tuples %}{{ overall_ll }}{% else %}<a href="{% url gsrun_detail gsid=gs.gsid %}?debug=true">compute logodds</a>{% endif %} </td>
       </tr>
       {% for wave  in gs.sigvisagsrunwave_set.all %}

       <tr>
	 <td valign=top><a href="{% url site sta=wave.sta %}">{{ wave.sta }}</a></td>
	 <td valign=top>{{ wave.band }}</td>
	 <td valign=top>{{ wave.chan }}</td>
	 <td valign=top>{{ wave.hz }}</td>
	 <td valign=top><a href="{% url wave_image %}?sta={{wave.sta}};chan={{wave.chan}};stime={{wave.stime|date:'U.u'}};etime={{wave.etime|date:'U.u'}};filter_str={{wave.band}}%3Benv%3Bhz_{{wave.hz}}"><img src="{% url wave_image %}?sta={{wave.sta}};chan={{wave.chan}};stime={{wave.stime|date:'U.u'}};etime={{wave.etime|date:'U.u'}};filter_str={{wave.band}}%3Benv%3Bhz_{{wave.hz}};ratio=2;dpi=30" width=150 height=75></a></td>
<!--	 <td valign=top><a href=""><img src="" width=150 height=75></a></td> -->
	 <td valign=top>

	   <table>
	     <tr>
	       <td><strong>param</strong></td>
	       <td><strong>phase</strong></td>
	       <td><strong>type</strong></td>
	       <td><strong>visualizations</strong></td>
	     </tr>
	     {% for model in wave.sigvisagsruntmodel_set.all %}
	     <tr>
	       <td valign=top>{{ model.modelid.param }}</td>
	       <td  valign=top>{{ model.modelid.phase }}</td>
	       <td valign=top>{{ model.modelid.model_type }}</td>
	       <td valign=top>
		 {% if model.modelid.model_type|slice:":8" == "constant" %}
		 <a href="{% url model_density modelid=model.modelid.modelid %}">density</a>
		 {% endif %}
		 {% if model.modelid.model_type|slice:":6" = "linear" %}
		 <a href="{% url model_distance_plot modelid=model.modelid.modelid %}">distance plot</a>
		 {% endif %}
		 {% if model.modelid.model_type|slice:":2" == "gp" %}
		 <a href="{% url model_distance_plot modelid=model.modelid.modelid %}">distance plot</a>
		 <a href="{% url model_heatmap modelid=model.modelid.modelid %}">heatmap</a>
		 {% endif %}
	       </td>
	     </tr>
	     {% endfor %}
	   </table>

	 </td>
	 <td><a href="{% url gs_debug gswid=wave.gswid %}">debug</a>

	   {% if wave_likelihood_tuples %}
	   {{wave_likelihood_tuples|get_item:wave.gswid}}
	   {% endif %}
	 </td>
       </tr>

       {% endfor %}

     </table>


</td>
</tr>
</table>
{% include "svweb/footer.html"  %}
</body>
</html>
