{% load url from future %}
{% load dict_filter %}

<html>
<head>
<title>gsrun {{ gs.gsid }} -- sigvisa</title>

<link href="{{ STATIC_URL }}header.css" rel="stylesheet" type="text/css">

<script>

function expand_iframe(src, frame_id) {
var ifr = document.getElementById(frame_id);
ifr.style.display = "block";
ifr.src = src;
}

</script>

</head>
<body>
{% include "svweb/header.html"  %}

<table>
 <tr>
  <td rowspan=2 valign=top>
    <a href="{% url 'gsrun_detail' gsid=gs.gsid %}">
   <img ismap src="{% url 'gs_heatmap' gsid=gs.gsid %}?colorbar=true;smooth=true;query_lon={{query_ev.lon}};query_lat={{query_ev.lat}}" width=550 height=400>
    </a>
  </td>
   <td valign=top>
     <table>
       <tr>
	 <tr><td><strong>gsid: </strong></td><td>{{ gs.gsid }}</td></tr>
	 <tr><td><strong>evid: </strong></td><td><a href="{% url 'event' evid=gs.evid %}">{{ gs.evid }}</a></td></tr>
	 <tr><tr><td><strong>timestamp: </strong></td><td>{{ gs.timestamp }}</td></tr>
	 <tr><td><strong>elapsed: </strong></td><td>{{ gs.elapsed }}</td></tr>
	 <tr><tr><td><strong>nw: </strong></td><td>{{ nw_str }}</td></tr>
	 <tr><td><strong>se: </strong></td><td>{{ se_str }}</td></tr>
	 <tr><td><strong>n: </strong></td><td>{{ gs.pts_per_side }}</td></tr>
	 <tr><td><strong>method: </strong></td><td>{{ gs.likelihood_method }}</td></tr>
	 <tr><td><strong>max_evtime_proposals: </strong></td><td>{{ gs.max_evtime_proposals }}</td></tr>
	 <tr><td><strong>phases: </strong></td><td>{{ gs.phases }}</td></tr>
	 <tr><td><strong>wiggle_model_type: </strong></td><td>{{ gs.wiggle_model_type }}</td></tr>
       </tr>
     </table>
   </td>
   <td valign=top>
     <strong>Origin times</strong>:
     <ul>
       <li><strong>true</strong>: {{ true_ev.time }} {% if gs.true_time == 't' %} (fixed) {% else %}</li>
       <li><strong>query-optimal</strong>: {{ query_ev.time }}</li>
       <li><strong>proposed</strong>:
       <ul>
       {% for t in query_origin_time_proposals %}
       <li>{{ t }}</li>
       {% endfor %}
       </ul>{% endif %}</li>
     </ul>

     <strong>Depths</strong>:
     <ul>
       <li><strong>true</strong>: {{ true_ev.depth }} km {% if gs.true_depth == 't' %} (fixed) {% else %}</li>
       <li><strong>query-optimal</strong>: {{ query_ev.depth }} km {% endif %}</li>
     </ul>

     <strong>Magnitude</strong>:
     <ul>
       <li><strong>true</strong>: {{ true_ev.mb }} {% if gs.true_mb == 't' %} (fixed) {% else %}</li>
       <li><strong>query-optimal</strong>: {{ query_ev.mb }} {% endif %}</li>
     </ul>


     {% if gs.optim_method %}
     <strong>Optimization method</strong>: {{ gs.optim_method }}
     {% endif %}
   </td>
 </tr>
<tr>
<td valign=center><strong>True event</strong>: {{ true_ev_str }} <br>
<strong>Query event</strong>: {{ query_ev_str }} (ll {{query_ll}})<br>
<strong>distance</strong>: {{ dist }}km<br>
<strong>True event ll</strong>: {{true_ll}}<br>
<strong>Query event ll</strong>: {{query_ll}}<br>
<strong>ll difference</strong>: {{ll_diff}}<br>
</td>
</tr>

<tr>
<td colspan=2 valign=top>

     <table border=1>

       <tr>
	 <td><strong>info</strong></td>
	 <td><strong>wave</strong></td>
	 <td><strong>phases</strong></td>
	 <td><strong>map</strong></td>
	 <td><strong>likelihoods</strong></td>
	 <td><strong>template param models</strong></td>
	 <td><strong>noise</strong></td>
       </tr>
       {% for k,wave  in wave_dict.items %}

       <tr>
	 <td valign=top>
	   <strong>sta:</strong>: <a href="{% url 'site' sta=wave.sta %}">{{ wave.sta }}</a><br>
	   <strong>band:</strong>: {{ wave.band }}<br>
	   <strong>chan:</strong>: {{ wave.chan }}<br>
	   <strong>hz:</strong>: {{ wave.hz }}<br>
	   <br>
	   <strong>dist:</strong> {{ query_distances|get_item:k|floatformat:1 }}km
	 </td>
	 <td valign=top><a href="{% url 'gs_pickled_wave' gswid=wave.gswid %}?lon={{true_ev.lon}};lat={{true_ev.lat}}"><img src="{% url 'gs_pickled_wave' gswid=wave.gswid %}?lon={{true_ev.lon}};lat={{true_ev.lat}}" width=200 height=125></a>
<a href="{% url 'gs_pickled_wave' gswid=wave.gswid %}?lon={{query_ev.lon}};lat={{query_ev.lat}}"><img src="{% url 'gs_pickled_wave' gswid=wave.gswid %}?lon={{query_ev.lon}};lat={{query_ev.lat}}" width=200 height=125></a></td></td>
	 <td valign=top>{% for phase in wave_phases|get_item:k %}{{phase}}, {% endfor %} <br>
	   <a href="" onclick="expand_iframe('{% url 'gs_phase_frame' gswid=wave.gswid %}?lon={{true_ev.lon}};lat={{true_ev.lat}}', 'phase_frame_true_{{ k }}'); expand_iframe('{% url 'gs_phase_frame' gswid=wave.gswid %}?lon={{query_ev.lon}};lat={{query_ev.lat}}', 'phase_frame_query_{{ k }}'); return false;">Expand phase arrivals.</a><br>
	   <iframe id="phase_frame_true_{{ k }}" src="" width=400 height=300 style="display: none"></iframe>
	   <iframe id="phase_frame_query_{{ k }}" src="" width=400 height=300 style="display: none"></iframe>
	 </td>
<!--	 <td valign=top><a href="{% url 'wave_image' %}?sta={{wave.sta}};chan={{wave.chan}};stime={{wave.stime|date:'U.u'}};etime={{wave.etime|date:'U.u'}};filter_str={{wave.band}}%3Benv%3Bhz_{{wave.hz}}"><img src="{% url 'wave_image' %}?sta={{wave.sta}};chan={{wave.chan}};stime={{wave.stime|date:'U.u'}};etime={{wave.etime|date:'U.u'}};filter_str={{wave.band}}%3Benv%3Bhz_{{wave.hz}};ratio=2;dpi=30" width=150 height=75></a></td> -->
	 <td valign=top><a href="{% url 'gs_heatmap' gsid=gs.gsid %}?colorbar=false;smooth=true;wave_label={{wave.sta}}_{{wave.chan}}_{{wave.band}};query_lon={{query_ev.lon}};query_lat={{query_ev.lat}}"><img src="{% url 'gs_heatmap' gsid=gs.gsid %}?colorbar=false;smooth=true;wave_label={{wave.sta}}_{{wave.chan}}_{{wave.band}};query_lon={{query_ev.lon}};query_lat={{query_ev.lat}}" width=150 height=109></a></td>
	 <td valign=top>
	   <strong>true ev ll:</strong>: {{ true_wave_lls|get_item:k|floatformat:1 }}<br>
	 <strong>query ev ll:</strong>: {{ query_wave_lls|get_item:k|floatformat:1 }}<br>
	 <strong>ll diff:</strong>: {{ ll_diffs|get_item:k|floatformat:1 }}</td>
	 <td valign=top>

	   <table>
	     <tr>
	       <td><strong>param</strong></td>
	       <td><strong>phase</strong></td>
	       <td><strong>type</strong></td>
	       <td><strong>visualizations</strong></td>
	     </tr>
	     {% for model in wave.sigvisagsrunmodel_set.all %}
	     <tr>
	       <td valign=top>{{ model.modelid.param }}</td>
	       <td  valign=top>{{ model.modelid.phase }}</td>
	       <td valign=top>{{ model.modelid.model_type }}</td>
	       <td valign=top>
		 {% if model.modelid.model_type|slice:":8" == "constant" %}
		 <a href="{% url 'model_density' modelid=model.modelid.modelid %}">density</a>
		 {% endif %}
		 {% if model.modelid.model_type|slice:":6" = "linear" %}
		 <a href="{% url 'model_distance_plot' modelid=model.modelid.modelid %}">distance plot</a>
		 {% endif %}
		 {% if model.modelid.model_type|slice:":2" == "gp" %}
		 <a href="{% url 'model_distance_plot' modelid=model.modelid.modelid %}">distance plot</a>
		 <a href="{% url 'model_heatmap' modelid=model.modelid.modelid %}">heatmap</a>
		 {% endif %}
	       </td>
	     </tr>
	     {% endfor %}
	   </table>

	 </td>
	 <td valign=top>
	   noise type: {{ wave.nmid.model_type }} {% if wave.nmid.model_type != "l1" %} order {{ wave.nmid.nparams }} {% endif %}
	   <a href="{% url 'nm_detail' nmid=wave.nmid.nmid %}"><img src="{% url 'nm_sample' nmid=wave.nmid.nmid %}" width=150 height=90></a></td>
</td>
       </tr>

       {% endfor %}

     </table>


</td>
</tr>
</table>
{% include "svweb/footer.html"  %}
</body>
</html>
