{% load pagination_tags %}
{% autopaginate run_list 20 %}

<html>
<head>
<title>gridsearch runs - sigvisa</title>

<link href="{{ STATIC_URL }}header.css" rel="stylesheet" type="text/css">

<script>

function confirm_delete(runid, url) {
if (confirm("Are you sure you want to delete run " + runid + "?")) {
window.location = url;
}
}
</script>

</head>
<body>
{% include "svweb/header.html"  %}

<h1>gridsearch runs</h1>

{{ run_filter }}<br>

{% if run_list %}

    <table id="runs" border=1 cellpadding=3>
      <tr>
	<td><strong>gsid</strong></td>
        <td><strong>evid</strong></td>
        <td><strong>sites</strong></td>
	<td><strong>timestamp</strong></td>
	<td><strong>elapsed</strong></td>
	<td><strong>nw</strong></td>
	<td><strong>se</strong></td>
	<td><strong>n</strong></td>
	<td><strong>phases</strong></td>
	<td><strong>likelihood_method</strong></td>
	<td><strong>proposals</strong></td>
	<td><strong>assumed true depth?</strong></td>
	<td><strong>assumed true time?</strong></td>
	<td><strong>assumed true mb?</strong></td>
	<td><strong>wiggle_model_type</strong></td>
	<td><strong>details</strong></td>
	<td><strong>delete</strong></td>
      </tr>
        {% for run in run_list %}
            <tr>
                <td>{{ run.gsid }}</td>
                <td><a href="{% url event evid=run.evid %}">{{ run.evid }}</a></td>
                <td>{{ run.sigvisagsrunwave_set.count }}</td>
		<td>{{ run.timestamp }}</td>
                <td>{{ run.elapsed }}</td>
                <td>{{ run.lon_nw }} {{ run.lat_nw }}</td>
                <td>{{ run.lon_se }} {{ run.lat_se }}</td>
                <td>{{ run.pts_per_side }}</td>
                <td>{{ run.phases }}</td>
                <td>{{ run.likelihood_method }}</td>
                <td>{{ run.max_evtime_proposals }}</td>
                <td>{{ run.true_depth }}</td>
                <td>{{ run.true_time }}</td>
                <td>{{ run.true_mb }}</td>
                <td>{{ run.wiggle_model_type }}</td>
                <td><a href="{% url gsrun_detail gsid=run.gsid %}">details</a></td>
                <td><input type="button" onclick="confirm_delete({{ run.gsid }}, '{% url gsrun_delete gsid=run.gsid %}')" value="delete"/></td>
            </tr>
        {% endfor %}
    </table>
{% paginate %}
{% else %}
    <p>No gridsearch found!!! :(</p>
{% endif %}

{% include "svweb/footer.html"  %}
</body>
</html>
