{% load url from future %}
<!-- BEGIN: Sticky Header -->
<div id="header_container">
    <div id="header">
        <ul>
	  <li><a href="{% url 'main' %}">Main</a></li>
	  <li><a href="{% url 'all_runs' %}">Fitting Runs</a></li>
	  <li><a href="{% url 'model_list' %}">Template/Wiggle Param Models</a></li>
	  <li><a href="{% url 'nm_list' %}">Noise Models</a></li>
	  <li><a href="{% url 'mcmc_runs' %}">MCMC Runs</a></li>
	  <li><a href="{% url 'wave_select' %}">Waveform Viewer</a></li>
	  <li><a href="{% url 'event_region' %}">Event Browser</a></li>
	</ul>
    </div>
</div>
<!-- END: Sticky Header -->

<div id="container">
    <div id="content">
