{% load url from future %}
<html>
<head>
<title>mcmc run {{ dirname }} -- sigvisa</title>
<link href="{{ STATIC_URL }}header.css" rel="stylesheet" type="text/css">
</head>
<body>
{% include "svweb/header.html"  %}

<h2>MCMC run {{ dirname }} ({{ max_step }} steps)</h2>

<table width=100%>
<tr>
<td valign=top>
<p>Command: <tt>{{ cmd }}</tt></p>

<p>Browse results directory: <a href="{% url 'mcmcrun_browsedir' dirname=dirname path="" %}">{{ full_dirname }}</a></p>
<p>Run analysis: <tt>{{ analyze_cmd }}</tt></p>
</td>
<td valign=top align=right>
<a href="{% url 'mcmc_lp_posterior' dirname=dirname %}"><img src="{% url 'mcmc_lp_posterior' dirname=dirname %}" width=300 height=200></a>
</td>
</tr>
</table>
<table>
<tr>
<td valign=top width=50%>
<h3>Event posteriors</h3>
<p>True events:<ol>
{% for fake_eid,tev in true_ev_strs %}
<li> {{ tev }} <a href="{% url 'mcmc_ev_detail' dirname=dirname eid_str=fake_eid %}">signals</a></li>
{% endfor %}
</ol></p>

{% if evs %}
<p>Inferred events: <a href="{% url 'mcmcrun_proposals' dirname=dirname %}?zoom=1.0">proposals</a>, <a href="{% url 'mcmc_event_posterior' dirname=dirname %}?left_lon=-180;right_lon=180;top_lat=90;bottom_lat=-90;burnin=0">global posterior</a>, <a href="{% url 'mcmc_event_posterior' dirname=dirname %}?left_lon={{bounds.left}};right_lon={{bounds.right}};top_lat={{bounds.top}};bottom_lat={{bounds.bottom}};burnin=0;stds=2.0">regional posterior</a></p>
<table>
<tr><td><b>eid</b></td><td><b>info</b></td><td><b>azimuth gap</b></td><td><b>match</b></td><td><b>loc error (km)</b></td><td><b>(lon, lat) std</b></td><td><b>vis</b></td><td><b>inspect</b></td></tr>
{% for ev in evs %}
<tr><td><a href="{% url 'mcmc_ev_detail' dirname=dirname eid_str=ev.eid %}">{{ ev.eid }}</a></td><td>{{ ev.evstr }}</td><td>{{ ev.azgap|floatformat }}</td><td>{{ ev.matched }}</td><td>{{ ev.dist|floatformat }}km</td><td>({{ ev.lon_std_km|floatformat }}, {{ ev.lat_std_km|floatformat }})</td><td><a href="{% url 'mcmc_event_posterior' dirname=dirname %}?left_lon={{ ev.left_lon }};right_lon={{ ev.right_lon }};top_lat={{ ev.top_lat }};bottom_lat={{ ev.bottom_lat }};burnin=0">local</a></td><td><a href="{% url 'mcmc_param_posterior' dirname=dirname node_label=ev.example_node %}">e.g.</a></td></tr>
{% endfor %}
</table>
{% endif %}
</td>

<td valign=top>
<h3>Station posteriors</h3>
{% if wns %}
{% for sta, stawns in wns %}
<p><b>{{ sta }}</b></p>
{% if gp_hparams %}
<p>GP hyperparams:
{% for hparam in gp_hparams %}
<a href="{% url 'mcmc_hparam_posterior' dirname=dirname sta=sta target=hparam %}">{{ hparam }}</a>
{% endfor %}
{% endif %}
<p>{% for phase in phases_used %}
{{ phase }} waves: <a href="{% url 'mcmc_phase_stack' dirname=dirname sta=sta phase=phase base_eid=1 %}">stacked (eid 1)</a>, <a href="{% url 'mcmc_alignment_posterior' dirname=dirname sta=sta phase=phase %}">alignments</a>, <a href="{% url 'conditional_wiggle_posterior' dirname=dirname sta=sta phase=phase %}">conditional wiggles</a>, <a href="{% url 'conditional_signal_posterior' dirname=dirname sta=sta phase=phase %}">conditional signals</a><br>
{% endfor %}</p>
<p>Waveform posteriors:</p>
<ol>
{% for wn in stawns %}
<li><a href="{% url 'mcmc_wave_posterior' dirname=dirname wn_label=wn %}?step={{ max_step }};pred_env=True;zoom=5">{{ wn }}</a> (<a href="{% url 'mcmc_arrivals' dirname=dirname wn_label=wn step=max_step %}">templates</a>)</li>

{% endfor %}
</ol>
{% endfor %}

{% endif %}
</td>
</tr>
</table>

{% include "svweb/footer.html"  %}
</body>
</html>
