{% load url from future %}
<html>
<head>
<title>eid {{ eid }} signals -- sigvisa</title>
<link href="{{ STATIC_URL }}header.css" rel="stylesheet" type="text/css">
</head>
<body>
{% include "svweb/header.html"  %}

<h2>eid {{ eid }} from MCMC run {{ dirname }} step {{ step }} </h2>

<table><tr>

<td colspan=4>{{ ev_str }}</td>
<td align=right rowspan=2 valign=top>
<a href="{% url 'mcmcrun_browsedir' dirname=dirname path=proposalpath %}"><img src="{% url 'mcmcrun_browsedir' dirname=dirname path=proposalpath %}" width=400 height=250></a><br>proposal distribution</td></tr>

<tr>
<td><a href="{% url 'mcmc_ev_trace_pairwise_plot' dirname=dirname eid=eid param1='lon' param2='lat' %}?burnin=0">
<img src="{% url 'mcmc_ev_trace_pairwise_plot' dirname=dirname eid=eid param1='lon' param2='lat' %}" width=200 height=200></a><br><center>lon vs lat</center></td>
<td><a href="{% url 'mcmc_ev_trace_pairwise_plot' dirname=dirname eid=eid param1='lon' param2='depth' %}?burnin=0">
<img src="{% url 'mcmc_ev_trace_pairwise_plot' dirname=dirname eid=eid param1='lon' param2='depth' %}" width=200 height=200></a><br><center>lon vs depth</center></td>
<td><a href="{% url 'mcmc_ev_trace_pairwise_plot' dirname=dirname eid=eid param1='time' param2='lat' %}?burnin=0">
<img src="{% url 'mcmc_ev_trace_pairwise_plot' dirname=dirname eid=eid param1='time' param2='lat' %}" width=200 height=200></a><br><center>time vs lat</center></td>
<td><a href="{% url 'mcmc_ev_trace_pairwise_plot' dirname=dirname eid=eid param1='time' param2='depth' %}?burnin=0">
<img src="{% url 'mcmc_ev_trace_pairwise_plot' dirname=dirname eid=eid param1='time' param2='depth' %}" width=200 height=200></a><br><center>time vs depth</center></td>
</tr></table>

<table width=100%>

{% for wnlabel, stime, etime, tms in r %}
<tr>
<td>{{ wnlabel }}</td> 
<td valign=top>
<a href="{% url 'mcmc_wave_posterior' dirname=dirname wn_label=wnlabel %}?step={{ step }};stime={{ stime }};etime={{ etime }}{{ extra_wave_args }}"><img src="{% url 'mcmc_wave_posterior' dirname=dirname wn_label=wnlabel %}?step={{ step }};stime={{ stime }};etime={{ etime }}{{ extra_wave_args }}" width=400></a>
</td>
<td>{{ tms }}</td>
</tr>
{% endfor %}
</table>

{% include "svweb/footer.html"  %}
</body>
</html>
