<html>
<head>
<script>

function confirm_delete(runid, url) {
if (confirm("Are you sure you want to delete all fits in run " + runid + "?")) {
window.location = url;
}
}
</script>
<title>runs - sigvisa</title>
<link href="{{ STATIC_URL }}header.css" rel="stylesheet" type="text/css">
</head>
<body>
{% include "svweb/header.html"  %}

{% if run_list %}
    <table id="runs" border=1 cellpadding=3>
      <tr>
	<td><strong>runid</strong></td>
	<td><strong>name</strong></td>
	<td><strong>iter</strong></td>
	<td><strong>fits</strong></td>
	<td><strong>fit quality</strong></td>
	<td><strong>delete</strong></td>
      </tr>
    {% for run in run_list %}
    <tr>
      <td>{{ run.runid }}</td>
       <td><a href="{% url fit_list runid=run.runid  %}">{{ run.run_name }}</a></td>
      <td>{{ run.iter }}</td>
      <td>{{ run.sigvisacodafit_set.count }}</td>
      <td><a href="{% url fit_cost_quality runid=run.runid %}?good=true;bad=true;unknown=true;xmin=auto;xmax=auto;ymin=auto;ymax=auto">fit quality</a></td>
       <td><input type="button" onclick="confirm_delete({{ run.runid }}, '{% url delete_run runid=run.runid %}')" value="delete run"/></td>
    {% endfor %}
    </td>
  </tr>
</table>
{% else %}
    <p>No runs are available.</p>
{% endif %}
{% include "svweb/footer.html"  %}
</body>
</html>
