{% load math_filters %}

<html>
<head>
<title>wiggles -- phase {{ fphase.fpid }} -- sigvisa</title>
<link href="{{ STATIC_URL }}header.css" rel="stylesheet" type="text/css">
</head>
<body>
{% include "svweb/header.html"  %}



<table>
<tr><td><img src="{% url fit_wiggle_view fpid=fphase.fpid %}" width=450 ></td><td><img src="{% url visual fitid=fphase.fitid.fitid %}?components=template,wavelet;smooth=0;phase={{ fphase.phase }};xmin={{ xmin }};xmax={{ xmax }}" width=450></td><td><img src="{% url visual fitid=fphase.fitid.fitid %}?components=template,multnoise;smooth=0;phase={{ fphase.phase }};xmin={{ xmin }};xmax={{ xmax }}" width=450></td></tr>
<tr style="text-align: center"><td>Repeatable wiggle</td><td>Repeatable wiggle (scaled)</td><td>Nonrepeatable wiggle (scaled)</td></tr>
</table>


<p>Wiggle family {{ fphase.wiggle_family }}: {{ n_coefs }} coefficients
<table>
<tr><td>posterior means</td>  {% for pm in pmeans %}<td>{{ pm|stringformat:'.3f' }}</td>{% endfor %}</tr>
<tr><td>posterior vars</td> {% for pv in pvars %}<td>{{ pv|stringformat:'.3f' }}</td>{% endfor %}</tr>
</table>
</p>

<p>Messages: <tt>{{ message_repr }} </tt></p>

<a href="{% url fit_run_detail fitid=fphase.fitid.fitid %}">Back to fit {{ fphase.fitid.fitid }}</a>.

{% include "svweb/footer.html"  %}
</body>
</html>
